.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery div {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

